{% extends 'pp_core/base.html' %} {% load pp_core %} {% block content %}
  <h2 class="p-4">Task Results Detail</h2>

  <h2 class="p-4 pb-0.5 border-b border-gray-500">Summary</h2>
  <table class="table table-zebra">
    <tbody>
      <tr>
        <th>id</th>
        <td>{{ object.id }}</td>
      </tr>
      <tr>
        <th>args</th>
        <td>{{ object.args }}</td>
      </tr>
      <tr>
        <th>status</th>
        <td>{{ object.state }}</td>
      </tr>
      <tr>
        <th>created</th>
        <td>{{ object.created|pp_date }}</td>
      </tr> <tr>
        <th>started</th>
        <td>{{ object.started|pp_date }}</td>
      </tr>
      <tr>
        <th>finished</th>
        <td>{{ object.finished|pp_date }}</td>
      </tr>
    </tbody>
  </table>
  {{ object.get_ }}

  <h2 class="p-4 pb-0.5">Result</h2>
  <div class="px-4 border border-gray-500">
    <p class="font-mono text-xs">{{ object.result|linebreaks }}</p>
  </div>
{% endblock %}
