<!DOCTYPE html>{% load static %}{% load bootstrap4 %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pelican Publisher</title>

  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/datatables-1.10.23.min.css' %}">
<!--  <link rel="stylesheet" href="{% static 'css/emo.css' %}">-->
  {% block head %}{% endblock %}
</head>
<body>
  {% include "pp_core/_header.html" %}

  {% block content %}{% endblock %}

  {% include "pp_core/_footer.html" %}

  {% bootstrap_javascript jquery='full' %}
  <script src="{% static 'js/datatables-1.10.23.min.js' %}" ></script>
  {% block js %}{% endblock %}
</body>
</html>
