{% extends "pp_core/base.html" %}
{% load pp %}
{% block content %}
  <h2 class="p-4">Task Results Detail</h2>
  <h2 class="p-4 pb-0.5 border-b border-gray-500">Summary</h2>
  <table class="table table-zebra">
    <tbody>
      <tr>
        <th>id</th>
        <td>{{ object.id }}</td>
      </tr>
      <tr>
        <th>status</th>
        <td>{{ object.status }}</td>
      </tr>
      <tr>
        <th>status</th>
        <td>{{ object.site_name }}</td>
      </tr>
      <tr>
        <th>started at</th>
        <td>{{ object.started_at|date_long }}</td>
      </tr>
      <tr>
        <th>finished at</th>
        <td>{{ object.finished_at|date_long }}</td>
      </tr>
    </tbody>
  </table>
  {% if object.stdout %}
    <h2 class="p-4 pb-0.5">stdout</h2>
    <div class="px-4 border border-gray-500">
      <p class="font-mono text-xs">{{ object.stdout|linebreaks }}</p>
    </div>
  {% endif %}
  {% if object.stderr %}
    <h2 class="p-4 pb-0.5">stderr</h2>
    <div class="px-4 border border-gray-500">
      <p class="font-mono text-xs">{{ object.stderr|linebreaks }}</p>
    </div>
  {% endif %}
{% endblock content %}
